# Lists

In [1]:
options(jupyter.rich_display=FALSE) # Create output as usual in R
Sys.setlocale(category="LC_ALL",locale="C")

[1] "LC_CTYPE=C;LC_NUMERIC=C;LC_TIME=C;LC_COLLATE=C;LC_MONETARY=C;LC_MESSAGES=C;LC_PAPER=de_DE.UTF-8;LC_NAME=C;LC_ADDRESS=C;LC_TELEPHONE=C;LC_MEASUREMENT=de_DE.UTF-8;LC_IDENTIFICATION=C"

In [2]:
AList <- list(1:5,
              letters[1:6],
              c(TRUE,FALSE,FALSE,TRUE))
AList

[[1]]
[1] 1 2 3 4 5

[[2]]
[1] "a" "b" "c" "d" "e" "f"

[[3]]
[1]  TRUE FALSE FALSE  TRUE

In [3]:
AList[1:2]

[[1]]
[1] 1 2 3 4 5

[[2]]
[1] "a" "b" "c" "d" "e" "f"

In [4]:
AList[1]

[[1]]
[1] 1 2 3 4 5

In [5]:
AList[[2]]

[1] "a" "b" "c" "d" "e" "f"

In [6]:
AList[[1:2]]

[1] 2

In [7]:
AList[[1:3]]

ERROR: Error in AList[[1:3]]: recursive indexing failed at level 2

In [8]:
length(AList)

[1] 3

In [9]:
FDR <- list(c("John","Delano"),
            c("Roosevelt"))

In [10]:
names(FDR) <- c("first.name","last.name")
FDR

$first.name
[1] "John"   "Delano"

$last.name
[1] "Roosevelt"

In [11]:
FDR <- list(first.name=c("John","Delano"),
            last.name=c("Roosevelt"))
FDR

$first.name
[1] "John"   "Delano"

$last.name
[1] "Roosevelt"

In [12]:
FDR$last.name

[1] "Roosevelt"

In [13]:
FDR[["last.name"]]

[1] "Roosevelt"

In [14]:
UK <- list(
    country.name = c("England","Northern Ireland","Scotland",
                                                  "Wales"),
    population   = c(54786300,1851600,5373000,3099100),
    area.sq.km   = c(130279,13562,77933,20735),
    GVA.cap      = c(26159,18584,23685,18002))
UK

$country.name
[1] "England"          "Northern Ireland" "Scotland"         "Wales"

$population
[1] 54786300  1851600  5373000  3099100

$area.sq.km
[1] 130279  13562  77933  20735

$GVA.cap
[1] 26159 18584 23685 18002

In [15]:
data.frame(UK)

  country.name     population area.sq.km GVA.cap
1 England          54786300   130279     26159
2 Northern Ireland  1851600    13562     18584
3 Scotland          5373000    77933     23685
4 Wales             3099100    20735     18002