In [1]:
options(jupyter.rich_display=FALSE) # Create output as usual in R

In [2]:
library(zoo)
load("unemployment-z.RData")

Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [3]:
Netherlands <- unemployment.z[,4]
length(Netherlands)

[1] 30

In [4]:
Belgium <- unemployment.z[,5]
length(Belgium)

[1] 30

In [5]:
Luxembourg <- na.omit(unemployment.z[,6])
length(Luxembourg)

[1] 26

In [6]:
unemployment.benelux <- merge(Netherlands,
                              Belgium,
                              Luxembourg)
head(unemployment.benelux,n=10)

           Netherlands Belgium Luxembourg
1970-12-31       0.868   1.913         NA
1971-12-31       1.213   1.848         NA
1972-12-31       2.114   2.350         NA
1973-12-31       2.151   2.408         NA
1974-12-31       2.624   2.523      0.067
1975-12-31       3.772   4.522      0.200
1976-12-31       4.067   5.934      0.332
1977-12-31       3.916   6.745      0.531
1978-12-31       3.827   7.321      0.797
1979-12-31       3.648   7.581      0.725