In [1]:
options(jupyter.rich_display=FALSE) # Create output as usual in R

In [2]:
Beatles <- c("John", "Paul", "George", "Ringo")
Beatles

[1] "John"   "Paul"   "George" "Ringo"

In [3]:
paste("one","and","only")

[1] "one and only"

In [4]:
paste(Beatles, collapse=" & ")

[1] "John & Paul & George & Ringo"

In [5]:
First <- c("Mick","Keith","Ronnie","Charlie")
Last <- c("Jagger","Richards","Wood","Watts")

In [6]:
paste(First,Last)

[1] "Mick Jagger"    "Keith Richards" "Ronnie Wood"    "Charlie Watts"

In [7]:
paste(First,Last,sep="_")

[1] "Mick_Jagger"    "Keith_Richards" "Ronnie_Wood"    "Charlie_Watts"

In [8]:
Beatles <- c("John", "Paul", "George", "Ringo")

In [9]:
substr(Beatles,1,2)

[1] "Jo" "Pa" "Ge" "Ri"

In [10]:
substr(Beatles,1:4,2:5)

[1] "Jo" "au" "or" "go"

In [11]:
Led.Zeppelin.song <- "Whole Lotta Love"
ACDC.song <- sub("Love","Rosie",Led.Zeppelin.song)
print(ACDC.song)

[1] "Whole Lotta Rosie"

In [12]:
onetofour <- 1:4
names(onetofour) <- c("first","second","third","fourth")

In [13]:
names(onetofour)

[1] "first"  "second" "third"  "fourth"

In [14]:
onetofour

 first second  third fourth
     1      2      3      4

In [15]:
print(onetofour)

 first second  third fourth
     1      2      3      4