In [1]:
options(jupyter.rich_display=FALSE) # Create output as usual in R
set.seed(42)

In [2]:
satisfaction <- sample(1:4,size=20,replace=TRUE)
satisfaction

 [1] 1 1 1 1 2 4 2 2 1 4 3 4 3 4 1 1 2 4 2 2

In [3]:
satisfaction <- ordered(satisfaction,
                       levels=1:4,
                       labels=c(
                           "not at all",
                           "low",
                           "medium",
                           "high"))
satisfaction

 [1] not at all not at all not at all not at all low        high
 [7] low        low        not at all high       medium     high
[13] medium     high       not at all not at all low        high
[19] low        low
Levels: not at all < low < medium < high

In [4]:
table(satisfaction)

satisfaction
not at all        low     medium       high
         7          6          2          5

In [5]:
levels(satisfaction)

[1] "not at all" "low"        "medium"     "high"

In [6]:
country.orig <- sample(
    c("England","Northern Ireland","Scotland","Wales"),
    size=50,
    prob=c(54786300,5373000,3099100,1851600)/65110000,
    replace=TRUE
)
country <- factor(country.orig)
country

 [1] Northern Ireland England          Wales            Scotland
 [5] England          England          England          Northern Ireland
 [9] England          England          England          England
[13] England          England          England          England
[17] England          England          Northern Ireland England
[21] England          England          England          Wales
[25] England          Scotland         Northern Ireland England
[29] Scotland         England          England          England
[33] England          England          England          England
[37] England          England          England          England
[41] England          Wales            England          England
[45] Northern Ireland England          England          England
[49] England          England
Levels: England Northern Ireland Scotland Wales

In [7]:
country <- factor(country.orig,
                  levels=c("England","Wales","Scotland",
                           "Northern Ireland"))
country

 [1] Northern Ireland England          Wales            Scotland
 [5] England          England          England          Northern Ireland
 [9] England          England          England          England
[13] England          England          England          England
[17] England          England          Northern Ireland England
[21] England          England          England          Wales
[25] England          Scotland         Northern Ireland England
[29] Scotland         England          England          England
[33] England          England          England          England
[37] England          England          England          England
[41] England          Wales            England          England
[45] Northern Ireland England          England          England
[49] England          England
Levels: England Wales Scotland Northern Ireland

In [8]:
table(country)

country
         England            Wales         Scotland Northern Ireland
              39                3                3                5

In [9]:
str(country)

 Factor w/ 4 levels "England","Wales",..: 4 1 2 3 1 1 1 4 1 1 ...

In [10]:
as.numeric(country)

 [1] 4 1 2 3 1 1 1 4 1 1 1 1 1 1 1 1 1 1 4 1 1 1 1 2 1 3 4 1 3 1 1 1 1 1 1 1 1 1
[39] 1 1 1 2 1 1 4 1 1 1 1 1

In [11]:
levels(country) <- c("EN","NI","SC","WL")
table(country)

country
EN NI SC WL
39  3  3  5